<section class="hero-section d-flex justify-content-center align-items-center" style="background-image: url({{mainImage}});">

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <h2 class="text-dark" style="text-shadow: 0 1px #ddd;">Vaqtingchalik<br />avtomobil kerakmi?</h2>

                <h1 class="cd-headline rotate-1 text-dark mb-4 pb-2">
                    <span class="d-block" style="text-shadow: 0 1px #ddd;">Siz uchun maxsus<br />takliflarimiz bor!</span>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">Damas</b>
                        <b>Cobalt</b>
                        <b>Gentra</b>
                        <b>Tracker</b>
                    </span>
                </h1>
            </div>

        </div>
    </div>

</section>

<app-message-modal></app-message-modal>