<div class="container-fluid">

    <h3 class="pt-3 mb-4">Xabarlar</h3>

    <div class="table-responsive">
        <table class="table table-striped table-hover border mb-0">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Ism</th>
                    <th>Telefon</th>
                    <th>Mashina</th>
                    <th>Matn</th>
                    <th>Sana</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of message; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.car_name }}</td>
                    <td>{{ item.message }}</td>
                    <td>{{ item.date | date: 'dd.MM.YYYY' }}</td>
                    <td>
                        <button (click)="delete(item.id)" class="btn btn-danger btn-sm px-2"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>