<div class="container">
    <h2 class="section-title">Asosiy rasm</h2>
    <div class="row">
        <ng-container *ngIf="main_image != null;">
            <div class="mx-auto gallery-img col-11 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
                <img [src]="imgUrl + main_image" loading="lazy" priority class="img-fluid" alt="Gallery image">
            </div>
        </ng-container>


        <div class="mx-auto col-11 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
            <div class="h-100 border py-3 text-center rounded">
                <p>File turi: JPG, JPEG, PNG</p>
                <p>Hajmi: 0 ~ 5 MB</p>
                <input type="file" (change)="onFileChange($event)" accept=".png,.jpeg,.jpg" #file class="d-none">
                <button class="btn btn-dark text-light" (click)="file.click()">Rasm tanlash</button>
            </div>
        </div>
    </div>
</div>


<section id="short-about-us">
    <div class="container">
        <h2 class="section-title">Qisqacha ma'lumot</h2>
        <div class="row">
            <div class="col-md-6 gx-5 mb-4">
                <ng-container *ngIf="image != null;">
                    <div class="bg-image gallery-img hover-overlay ripple shadow-2-strong rounded-5"
                        data-mdb-ripple-color="light">
                        <img [src]="imgUrl + image" class="img-fluid img-overlay" />
                    </div>
                </ng-container>

                <div class="mt-3 border py-3 text-center rounded">
                    <p>File turi: JPG, JPEG, PNG</p>
                    <p>Hajmi: 0 ~ 5 MB</p>
                    <input type="file" (change)="onFileChangeAbout($event)" accept=".png,.jpeg,.jpg" #mainImage
                        class="d-none">
                    <button class="btn btn-dark text-light" (click)="mainImage.click()">Rasm tanlash</button>
                </div>
            </div>

            <div class="col-md-6 gx-5 mb-4">
                <form #f="ngForm">
                    <input type="text" name="title" [(ngModel)]="title" placeholder="Sarlavha" class="form-control mb-4" />
                    <textarea class="form-control mb-4" placeholder="Matn" name="text" [(ngModel)]="text" rows="5"></textarea>
                    <button (click)="saveMainData(f)" class="btn btn-dark text-light d-block ms-auto">Saqlash</button>
                </form>
            </div>
        </div>
    </div>
</section>
